@{
    ViewBag.Title = "Help";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Create Board<br />
    Reply Board<br />
    Answer Reply
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@mostisoft.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@mostisoft.com</a>
</address>