@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center; height:120px; font-size:15pt; vertical-align:middle;">
    Board
</div>



<div class="row" style="font-weight:bold; font-size:15pt;">
    <div class="col-md-1 col-xs-3 visible-md visible-lg" style="text-align:center;">
        <p>
            No
        </p>
    </div>
    <div class="col-md-7 col-xs-12 " style="text-align:center;">
        <p>
            Title
        </p>
    </div>
    <div class="col-md-2 col-xs-3 visible-md visible-lg" style="text-align:center;">
        <p>
            User
        </p>
    </div>
    <div class="col-md-2 col-xs-3 visible-md visible-lg" style="text-align:center;">
        <p>
            Date
        </p>
    </div>
</div>
<hr />

<!-- 반복되서 출력되게 할 게시물 리스트 -->
@*   번호 / 제목 / 작성자 / 날짜 *@
<div class="row">
    <div class="col-md-1 col-xs-3 visible-md visible-lg" style="text-align:center;">
        <p>
            1
        </p>
    </div>
    <div class="col-md-7 col-xs-12" style="text-align:center;">
        <p>
            음식에 관한 게시물1
        </p>
    </div>
    <div class="col-md-2 col-xs-3 visible-md visible-lg" style="text-align:center;">
        <p>
            김상기
        </p>
    </div>
    <div class="col-md-2 col-xs-3 visible-md visible-lg" style="text-align:center;">
        <p>
            2022-07-01 12:00:00
        </p>
    </div>
</div>
<!-- 반복되서 출력되게 할 게시물 리스트 -->
@*   번호 / 제목 / 작성자 / 날짜 *@

