@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@


@* 스타일 *@
<style type="text/css">
    .link {
        text-decoration: none;
        color: black;
    }
</style>
@* 스타일 *@
    
<div class="row">
    <div class="col-md-4">
        <h2><a href="http://www.mostisoft.com/default.aspx" class="link" style="font-size:25pt;">Mosti</a></h2><br />
        <p style="font-size: 15pt;">
            <strong style="font-size:17pt;">(주)모스티소프트는</strong><br /><br />
            10년 이상의 IT컨설팅 경험과 시스템통합 프로젝트 경험을 바탕으로, 고객의 성공적인 프로젝트와 함께 합니다.<br /><br />
            모스티소프트만의
            요구공학 및 개발방법론, 검증된 개발지원도구, 프레임워크를 활용하여, 고객의 안정적인 프로젝트를 지원, 기술에 대한 투자와 리딩으로 고객과 함께 합니다.
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="font-size:25pt;">Mosti's TimeStamp</h2><br />
        <ul style="font-size:15pt; padding-left:15px;">
            <li>
                <a href="http://timestamp.mostisoft.com/TimeStampWeb/Participation/ParticipationList.aspx?&ThemaSeq=50174" class="link">MostiSoft 창립기념일 행사</a>
            </li>
                <br />
            <li>
                <a href="http://timestamp.mostisoft.com/TimeStampWeb/Participation/ParticipationList.aspx?&ThemaSeq=30118" class="link">MostiSoft 우수사원 표창장 전달식</a>
            </li>
            <br />
            <li>
                <a href="http://timestamp.mostisoft.com/TimeStampWeb/Participation/ParticipationList.aspx?&ThemaSeq=30106" class="link">Mostigram</a>
            </li>
            <br />
            <li>
                <a href="http://timestamp.mostisoft.com/TimeStampWeb/Participation/ParticipationList.aspx?&ThemaSeq=30099" class="link">MostiSoft 장기근속자 표창장 전달식</a>
            </li>
            <br />
            <li>
                <a href="http://timestamp.mostisoft.com/TimeStampWeb/Participation/ParticipationList.aspx?&ThemaSeq=20081" class="link">2019년도 모스티소프트 하반기 워크샵</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2 style="font-size:25pt;">오시는길</h2>
        <div>
            <button style="width:400px; border:none; background:none;"><img src="~/images/mostiMap.png" style="width:100%; height:240px;" onclick="window.open(this.src)"/></button>
        </div>
        <br />
        <h4 style="font-weight:bold;"> 찾아오시는 길</h4>
        <p style="font-size:12pt;">여의도역 4번출구 → 교보증권 → 신송센터빌딩 → <br />올리브영 → <span style="font-weight: bold;">신송빌딩(국민은행 건물 17층)</span></p>
    </div>
</div>